* {
	box-sizing: border-box;
	font-family: 'EB Garamond', serif;
}

.header{
	margin: auto;
	width: 1100px;
	height: 247px;
}

.up-header{
	position: relative;
	width: 100%;
	height: 150px;
}

.logo{
	position: relative;
	float: left;
	width: 175px;
	height: 140px;
	background: url(../images/logo.png) no-repeat;
	background-size: cover;
	background-color: white;
	background-position: 100% 30%;
}

.brand_name{
	position: absolute;
	bottom: 0;
	left: 135px;
	margin: 0;
	font-size: 35px;  
	font-weight: 500;
}

.search {
	position: relative;
	top: 35%;
	float: right;
	width: auto;
	margin-right: 40px;
}

.search_input {
    width: 250px;
    height: 52px;
    padding-left: 15px;
    border-radius: 42px;
    border: none;
    border-bottom: 1.5px solid #324b4e;
    background: #ffedc3;
    outline: none;
    position: relative;
    transition: .3s linear;
    font-size: 17px;
}
.search_input:focus {
  	width: 350px;
  	border-bottom: 2px solid #324b4e;
  	font-size: 20px;
}
.search_input:focus::placeholder{
	font-size: 0px;
}

.search_button {
	font-size: 18px;
	outline: none;
    width: 42px;
    height: 42px;
    background: none;
    border: none;
    position: absolute;
    top: 5px;
    right: 0;
    cursor: pointer;
}
.search_button:before{
    content: "\f002";
    font-family: FontAwesome;
    color: #324b4e;
}

.basket{
	float: right;
	position: relative;
	top: 40%;
	margin-right: 30px;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}
.basket:before{
	content: "\f290";
	font-family: FontAwesome;
	font-size: 30px;
}
.basket_counter{
	float:right;
	margin-left: 3px;
	font-size: 17px;
}
.basket:hover{
	color: #32D4E2;
}

.down-header{
	height: 70px;
	margin: auto;
	padding-top: 20px;
	width: 84%;
	border-spacing: 90px 0px;
	border-top: 3px solid;
	background-color: white;
}

.menu_button{
	position: relative;
	display: table-cell;
	vertical-align: middle;
	height: 25px;
}

.menu_link {
	position: relative;
	height: 25px;
	color: black;
	font-size: 17px;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	text-align: center;
	transition: all 0.6s;
}
.menu_link:after{
	position: absolute;
	bottom: 0;
	content: "";
	width: 0;
	height: 0.1em;
	left: 50%;
	background: #a5a528;
	transition: all 0.3s;
}
.menu_link:hover:after {
    width: 100%;
    left: 0;
    background: black;
}
.menu_link:hover {
    color: #a5a528;

}
.menu_button:hover .menu_selection {
	display: block;
	z-index: 9999;
}

.menu_selection {
	display: none;
	position: absolute;
	top:25px;
	margin: auto;
	width: 175px;
	height: 100px;
	box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

.menu_selection_block{
	background: white;
	transition: .2s linear;
	border-bottom: 1px solid;
	height: 50px;
}

.menu_selection_block:hover{
	background: #ffedc3;
	border: 1px solid;
}

.menu_selection_link1, .menu_selection_link2 {
	position: absolute;
	padding-top: 13.5px;
	width: 100%;
	height: 100%;
	margin-left: 15px;	
	font-size: 19px;
	text-decoration: none;
}

.menu_selection_link1:hover,.menu_selection_link2:hover {
	color: black;
}

.menu_selection_link1:after,.menu_selection_link2:after{
	font-family: FontAwesome;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
}

.menu_selection_link1:after{
	content: "|  \f039";
	margin-left: 50px;
}

.menu_selection_link2:after{
	content: "|  \f085";
	margin-left: 11px;
}