* {
  -webkit-tap-highlight-color: transparent;
}

.home{
	width: 1100px;
	margin: auto;
	position: relative;
}

hr{
	font-size: 30px;
	background-color: brown;
	color: brown;
	height: 3px;
	border: none;
	margin-bottom: 30px;
}

.banner_main{
	position: relative;
	margin: auto;
	margin-bottom: 50px;
	height: 530px;
	width: 1100px;
	background: url(../images/design.png) no-repeat;
	box-shadow: 0 5px 5px rgba(0,0,0,0.5);
	background-size: cover;
	background-position: 100% 10%;
}

.banner_main_link {
	position: absolute;
	top: 240px;
	left: 120px;
	width: 400px;
	height: 150px;
	z-index: 9999;
    color: #232323;
    background: transparent;
    border: 2px solid #232323;
    font-size: 22px;
    letter-spacing: .1em;
    font-family: 'Montserrat', sans-serif;
    padding: 30px;
    padding-top: 60px;
    transition: .2s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

.banner_main_link:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    background: #ffeb89;
    z-index: -1;
    transition: .25s ease;
    transform: translate(0, 0);
}

.banner_main_link:hover:before {
    transform: translate(10px, 10px);
}

.new_devider {
	display: inline-block;
	font-size: 30px;
}

.new_devider_line {
	display: inline-block;
	width: 810px;
	margin-left: 20px;
	margin-bottom: 5px;
}

.new_devider_link {
	display: inline-block;
	text-decoration: none;
	font-size: 22px;
	color: #2b13b3;
	font-family: FontAwesome;
	position: absolute;
	z-index: 999;
	padding-top: 37px;
	padding-left: 7px;
}

.new_devider_link:after {
	content: "\f039"
}

.new_list {
	position: relative;
	width: 100%;
	height: 305px;
	margin-top: 3px;
}

.info_links{
	height: 530px;
	width: 1100px;
	margin-bottom: 50px;
}