.home{
	width: 1100px;
	margin: auto;
	position: relative;
}

hr{
	font-size: 30px;
	background-color: brown;
	color: brown;
	height: 3px;
	border: none;
	margin-bottom: 30px;
}

.banner_main{
	position: relative;
	margin: auto;
	margin-bottom: 50px;
	height: 530px;
	width: 1100px;
	background: url(../images/design.png) no-repeat;
	box-shadow: 0 5px 5px rgba(0,0,0,0.5);
	background-size: cover;
	background-position: 100% 10%;
}

.banner_main_link {
	position: absolute;
	top: 240px;
	left: 120px;
	width: 400px;
	height: 150px;
	z-index: 9999;
    color: #232323;
    background: transparent;
    border: 2px solid #232323;
    font-size: 22px;
    letter-spacing: .1em;
    font-family: 'Montserrat', sans-serif;
    padding: 30px;
    padding-top: 60px;
    transition: .2s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

.banner_main_link:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    background: #ffeb89;
    z-index: -1;
    transition: .25s ease;
    transform: translate(0, 0);
}

.banner_main_link:hover:before {
    transform: translate(10px, 10px);
}

.new_devider {
	display: inline-block;
	font-size: 30px;
}

.new_devider_line {
	display: inline-block;
	width: 810px;
	margin-left: 20px;
	margin-bottom: 5px;
}

.new_devider_link {
	display: inline-block;
	text-decoration: none;
	font-size: 22px;
	color: #2b13b3;
	font-family: FontAwesome;
	position: absolute;
	z-index: 999;
	padding-top: 37px;
	padding-left: 7px;
}

.new_devider_link:after {
	content: "\f039"
}

.new_list {
	position: relative;
	width: 100%;
	height: 305px;
	margin-top: 3px;
}

.new_product_link{
	position: relative;
	display: inline-block;
	border-right: 1px solid #ead9c5;
	width: 220px;
	padding: 0px 10px;
	height: 100%;
	text-decoration: none;
}

.new_product_image{
	padding: 10px 0px; 
	width: 100%;
}

.new_product_name{
	position: absolute;
	height: 50px;
	width: 90%;
	right: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #4a4444;
	display: table-cell;
  	vertical-align: bottom;
}

.new_product_price{
	line-height: 40px;
	height: 40px;
	text-align: center;
	font-size: 18px;
	font-family: "Montserrat",sans-serif;
	font-weight: 500;
}

.new_product_stock{

}

.new_product_info_block{
	display: none;
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 70px;
	width: 220px;
	padding: 0px 10px;
	background-color: #f7eaaa;
	border-top: 2px solid black;
	border-radius: 5px;
	padding: 8px;
	cursor: default;
}

.new_product_info{
	font-size: 14px;
	color: #4e3704;
	margin: 0;
	text-align: center;
}

.new_product_body{
	position: absolute;
	width: 200px;
	height: 100%;
}

.new_product_link:hover .new_product_body{
	bottom: 105px;
	height: 250px;
}

.new_product_link:hover .new_product_info_block{
	display: block;
}

.new_product_availability:before{
	cursor: help;
	position: absolute;
	bottom: 10px;
	right: 5px;
	content: "\f058";
	font-family: FontAwesome;
	font-size: 17px;
	color: green;
	z-index: 999;
}

.new_product_basket{
	position: absolute;
	top: 0px;
	left: 5px;
	width: 23px;
	height: 23px;
	border: none;
	background: none;
	cursor: pointer;
}

.new_product_basket:before{
	position: absolute;
	content: "\f290";
	font-family: FontAwesome;
	z-index: 999;
	font-size: 20px;
	bottom: 0px;
	left: 0px;
	color: #2424b9;
}

.new_product_basket:after{
	position: absolute;
	content: "\f067";
	font-family: FontAwesome;
	z-index: 999;
	font-size: 10px;
	top: 20px;
	left: 20px;
	color: #2424b9;
}

.info_links{
	height: 530px;
	width: 1100px;
	margin-bottom: 50px;
}