* {
    -webkit-tap-highlight-color: transparent;
}

.home {
    width: 80%;
    height: auto;
    margin: auto;
    position: relative;
}

hr {
    font-size: 2.2vw;
    background-color: brown;
    color: brown;
    height: 0.264vw;
    border: none;
}

.banner_main_image {
    margin: 50px auto;
    background: url(../images/design.png) no-repeat;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    object-fit: cover;
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background-size: 100%;
}

.banner_main_image p {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -0.625em;
    font-size: 1.6vw;
    letter-spacing: .1em;
    font-family: 'Montserrat', sans-serif;
}

.banner_main_link {
    position: absolute;
    top: 45%;
    left: 10%;
    width: 38%;
    height: 27%;
    z-index: 1;
    color: #232323;
    background: transparent;
    border: 2px solid #232323;
    transition: .2s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.banner_main_link:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    background: #ffeb89;
    z-index: -1;
    transition: .25s ease;
    transform: translate(0, 0);
}

.banner_main_link:hover:before {
    transform: translate(0.688vw, 0.688vw);
}

@media all and (max-width: 1200px) {
    .banner_main_image p {
        font-size: 19px;
    }
}

@media all and (max-width: 1000px) {
    .home {
        width: 95%;
    }

    .banner_main_link {
        height: 35%;
    }

    .banner_main_image p {
        font-size: 19px;
    }

    .new_divider {
        font-size: 3vw;
    }

    .new_divider_link {
        font-size: 2vw;
    }
}

@media all and (min-width: 1000px) {
    .new_divider {
        font-size: 2.2vw;
        padding-bottom: 0.4128vw;
    }

    .new_divider_link {
        font-size: 1.7vw;
    }

    .new_divider_line {
        margin: 0px 0.5vw;
    }
}

@media all and (max-width: 600px) {

    .banner_main_image p {
        font-size: 16px;
    }

    .banner_main_image {
        margin: 20px auto;
    }

    .banner_main_link {
        border: 1px solid #232323;
        height: 35%;
    }

    .banner_main_link:before {
        top: 3px;
        left: 3px;
    }

    .banner_main_link:hover:before {
        transform: translate(5px, 5px);
    }

    .new_divider {
        font-size: 5vw;
    }

    .new_divider_link {
        font-size: 5vw;
        padding: 0px;
    }

    .new_divider_line {
        margin: 0px 7px;
    }
}

@media all and (max-width: 400px) {
    .banner_main_image p {
        font-size: 11px;
    }
}

.divider {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.new_divider {
    margin: 0;
    display: block;
}

.new_divider_line {
    width: 100%;
}

.new_divider_link {
    display: block;
    text-decoration: none;
    color: #2b13b3;
    font-family: FontAwesome;
    z-index: 1;
    flex-shrink: 0; 
}

.new_divider_link:after {
    content: "\f039"
}

.new_list {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 24vw;
    margin-top: 3px;
    padding: 2.752vw 0;
}

@media all and (max-width: 1000px) {
    .new_list {
        height: 400px;
    }
}

@media all and (max-width: 462px) {
    .new_list {
        height: 310px;
    }
}

/*
.info_links {
    height: 530px;
    width: 1100px;
    margin-bottom: 50px;
}
 */