 .product_block {
    position: relative;
    width: 75%;
    margin: auto;
    margin-top: 3px;
    min-height: 400px;
}

.filters_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    padding: 4vh;
}

.filter {
    height: 7vh;
    width: 23%;
    position: relative;
    margin-bottom: 1.75vh;
}

.filter_button {
    height: 100%;
    width: 100%;
    border: 0.3vh solid #cea47b;
    border-radius: 5px;
    font-size: 20px;
    background-color: #ffe3c4;
}

.filter_text {
    display: inline-block;
    font-size: 1.3vw;
}

#sort_filter {
}

.filter_block {
    width: 100%;
    height: 40px;
    background: none;
    border: none;
    border-top: 1px solid #bfbdbb;
}

.checkbox_block {
    margin: auto;
    width: 80px;
}

.product_checkbox, .metal_checkbox {
    width: 17px;
    height: 17px;
    position: absolute;
    left: 10%;
    margin-top: 10px;
}

.filter_block_text {
    position: absolute;
    left: 10%;
    margin-left: 30px;
    margin-top: 10px;
}

#price_form_block {
    border: none;
    background: none;
    text-align: left;
    font-size: 1.4vw;
    padding-top: 0.7vh;
    width: 100%;
    margin: auto;
}

#price_slider {
    width: 100%;
    height: 2vh; 
}

.price_form {
    width: 30%;
    font-size: 1.2vw;
}

.ui-slider .ui-slider-handle {
    height: 3.3vh;
    width: 3.3vh;
    border-radius: 2.3vh;
    outline: none;
    top: -0.8vh;
}

#metal_filter {
}

.hideDrop {
    display: none;
}

.showDrop {
    position: absolute;
    min-width: 100%;
    z-index: 999;
    background-color: #fff6e0;
    box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
    border-radius: 0px 0px 5px 5px;
}

.no_products{
    text-align: center;
    font-size: 50px;
}

.pagination_block{
    display: table;
    list-style-type: none;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
}

.pagination_item{
    float: left;
}

.pagination_item button{
    display: block;
    text-align: center;
    padding: 1.8vh 2vh;
    font-size: 2.5vh;
    text-decoration: none;
    background: none;
    border: none;
}

.pagination_item:hover{
    background-color: #f7eaaa;
}

#on_hover{
    background-color: #f6e172;
}

#no_hover{
    color: #8f8e8c;
}

#no_hover:hover{
    background-color: #ffffff;
}

.price_button{
    display: table;
    margin: 0 auto;
    margin-top: 20px;
    text-decoration: none;
    background: #ffedc3;
    border-radius: 10px;
    border-width: 2px;
    border-color: #f6a828;
}

@media all and (max-width: 1000px) {
    .product_block {
        width: 100%;
    }
    
    .filters_block {
        width: 100%;
        display: flex;
    }

    .filter {
        width: 30%;
        height: 70px;
    }

    .filter_text{
        font-size: 2.3vw;
    }

    #price_form_block {
        font-size: 30px;
    }

    .price_form {
        width: 25%;
        font-size: 27px;
        border: 1px solid black;
    }

    #price_slider {
        display: inline-block;
        width: 90%;
        height: 20px;
    }

    .ui-slider .ui-slider-handle {
        height: 30px;
        width: 30px;
        top: -7px;
    }
}

@media all and (max-width: 800px) {
    .filter {
        width: 45%;
    }

    .filter_text{
        font-size: 4vw;
    }
}

@media all and (max-width: 560px) {
    .filter {
        width: 100%;
    }

    .filter_text{
        font-size: 5vw;
    }
}