.product_block{
	position: relative;
	width: 75%;
	margin: auto;
	margin-top: 3px;
}

.filters_block{
	display: flex;
	width: 75%;
	height: 180px;
	margin: auto;
	padding: 30px;
}

.filter{
	height: 40px;
	width: 100%;
	margin: 0 20px;
	position: relative;
}

.filter_button{
	height: 100%;
	width: 100%;
	border: 1px solid black;
	border-radius: 5px;
	font-size: 20px;
	background-color: #ffe3c4;
}

.filter_text{
	display: inline-block;
}

#filter_icon1, #filter_icon2{
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	line-height: 1;
	margin-left: 5px;
	font-size: 15px;
}

#sort_filter{
}

.filter_block{
	width: 100%;
	height: 40px;
	background: none;
	border: none;
	border-top: 1px solid #bfbdbb;
}

.checkbox_block{
	margin: auto;
	width: 80px;
}

.filter_checkbox{
	width: 17px;
	height: 17px;
	position: absolute;
	left: 10%;
	margin-top: 10px;
}

.filter_block_text{
	position: absolute;
	left: 10%;
	margin-left: 30px;
	margin-top: 10px;
}

#price_filter{
	width: 100%;
	border: none;
	background: none;
	text-align: left;
	font-size: 1.7vw;
	padding: 5px;
}

#price_slider{
	display: inline-block;
	width: 140%;
	padding-top: 5px;
	margin-top: 15px;
}

.price_form{
	width: 25%;
	font-size: 17px;
}

.ui-slider .ui-slider-handle{
	height: 25px;
	width: 25px;
	border-radius: 18px;
	outline: none;
	top: -7px;
}

#metal_filter{
}

.hideDrop{
	display: none;
}

.showDrop{
	position: absolute;
	min-width: 100%;
	z-index: 999;
	background-color: #fff6e0;
	box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
	border-radius: 0px 0px 5px 5px;
}

@media all and (max-width: 1200px){
	.header{
		width: 900px;
	}
	
	.down-header{
	    border-spacing: 45px 0px;
	}
	
	.menu_link{
	    font-size: 22px;
	}

	.product_block{
		width: 100%;
	}

	.product{
		width: 33%;
		height: 400px;
	}

	.product_body{
		height: 405px;
	}

	.product:hover .product_info_block{
		display: none;
	}

	.product_price{
		height: 50px;
		line-height: 50px;
		font-size: 25px;
	}

	.product_stock{
		padding-left: 45px;
		font-size: 25px;
		line-height: 70px;
	}

	.product_image{
		width: 300px;
	}

	.product_name{
		height: 80px;
		font-size: 20px;
	}

	.filters_block{
		width: 100%;
		height: 250px;
		display: block;
	}

	.filter{
		display: inline-block;
		width: 45%;
		height: 70px;
		margin-bottom: 50px;
	}

	#price_filter{
		display: inline-block;
		width: 45%;
		font-size: 35px;
	}

	.price_form{
		width: 30%;
		font-size: 27px;
		border: 1px solid black;
	}

	#price_slider{
		display: inline-block;
		width: 45%;
		height: 20px;
	}

	.ui-slider .ui-slider-handle{
		height: 40px;
		width: 40px;
		top: -10px;
	}
}


@media all and (min-width: 1200px){
	.product{
		width: 25%;
	}
}

@media all and (min-width: 1420px){
	.product{
		width: 20%;
	}
}

@media all and (min-width: 1920px){
	.product{
		width: 16%;
	}
}