.product_container {
    align-self: center;
    width: 1100px;
    padding-top: 40px;
    margin: auto;
}

@media all and (max-width: 1200px) {
    .product_container {
        width: 900px;
    }
}

@media all and (max-width: 992px) {
    .product_container {
        width: 750px;
    }
}

@media all and (max-width: 768px) {
    .product_container {
        width: 550px;
        padding: 0;
    }
}

@media all and (max-width: 575px) {
    .product_container {
        width: 312px;
        padding: 0;
    }
}

.product {
    display: flex;
}

@media all and (max-width: 768px) {
    .product {
        flex-direction: column;
    }
}

.image_container {
    display: flex;
    flex: 1;
}

@media all and (max-width: 768px) {
    .image_container {
        justify-content: center;
    }
}

.product_image {
    display: block;
    width: 100%;
    height: min-content;
}

.content_box {
    display: flex;
    flex-flow: column;
    flex: 1;
}

.product_name {
    display: flex;
    font: bold 32px "EB Garamond";
    text-align: center;
    justify-content: center;
    padding-bottom: 30px;
}

.price {
    display: flex;
    justify-content: center;
}

.product_info_block {
    font: 22px "EB Garamond";
}

@media all and (max-width: 768px) {
    .product_info_block {
        align-self: center;
        text-align: center;
    }
}

.button_container {
    display: flex;
    justify-content: center;
}

.product_basket {
    width: 80%;
    height: 70px;
    font: 32px "EB Garamond";
    background-color: #ffe3c4;
    border-radius: 5px;
    border: 1px solid black;
}

@media all and (max-width: 768px) {
    .product_basket {
        font-size: 24px;
    }
}
.product_basket:hover {
    background-color: #ffd2a7;
    cursor: pointer;
}

