*{
	margin: 0;
}

.Blocks{
	letter-spacing : -.36em;
    font-size : 0;
}

.Block2{
	display: inline-block;
	border: 1px solid black;
	width: 20%;
	font-size: 15px;
}

.Block1{
	display: inline-block;
	width: 20%;
	border: 1px solid black;
	height: 50px;
	font-size: 15px;
	text-align: center;
	line-height: 50px;
}