<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/stylesheets/home.css">
	<link rel="stylesheet" href="/stylesheets/header.css">
	<link rel="stylesheet" href="/stylesheets/productsBlock.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="/client_scripts/allProducts.js"></script>
	<script type="text/javascript" src="/client_scripts/oneProduct.js"></script>
	<script type="text/javascript" src="/client_scripts/cart.js"></script>
	<script type="text/javascript" src="/client_scripts/addToCartFav.js"></script>
	<script type="text/javascript" src="/client_scripts/menu.js"></script>
	<script type="text/javascript" src="/client_scripts/storage.js"></script>
	<script type="text/javascript" src="/client_scripts/url.js"></script>
	<link rel="stylesheet" href="/stylesheets/modal_cart.css">
	include header_imports.html
</head>
<body>
	include modal_cart.html
	include header.pug
	<div class="home">
		<div class="banner_main_image">
			<a class="banner_main_link" href="/constructor"><p>Перейти к конструктору</p></a>
		</div>
		<div class="divider">
			<p class="new_divider">Новинки</p>
			<hr class="new_divider_line">
			<a class="new_divider_link" href="/products">Весь каталог</a>
		</div>
		<div class="new_list"></div>
		<hr>
		<div class="info_links"></div>
	</div>
	<script type="text/javascript">getNew()</script>
</body>
</html>