<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="stylesheets/home.css">
	include header.html
</head>
<body>
	<div class="home">
		<div class="banner_main">
			<a class="banner_main_link" href="">Перейти к конструктору</a>
		</div>
		<p class="new_devider">Новинки</p>
		<hr class="new_devider">
		<a class="new_devider_link" href="">Весь каталог</a>
		<div class="new"></div>
	</div>
</body>