<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="http://hehmde.xyz:63000/stylesheets/home.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://hehmde.xyz:63000/client_scripts/newproducts.js"></script>
	include header.html
</head>
<body>
	<div class="home">
		<div class="banner_main">
			<a class="banner_main_link" href="">Перейти к конструктору</a>
		</div>
		<p class="new_devider">Новинки</p>
		<hr class="new_devider">
		<a class="new_devider_link" href="">Весь каталог</a>
		<div class="new_list"></div>
	</div>
	<script type="text/javascript">getNew()</script>
</body>
</html>