<!DOCTYPE html>
<html lang="en">
<head>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.11.2/jquery-ui.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/ui-lightness/jquery-ui.css">
	<script type="text/javascript" src="/client_scripts/allProducts.js"></script>
	<script type="text/javascript" src="/client_scripts/dropDown.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
	include header.html
	<link rel="stylesheet" href="/stylesheets/productsBlock.css">
	<link rel="stylesheet" href="/stylesheets/productList.css">

</head>
<body>
	<div class="filters_block">
		<div class="filter" id="sort_filter">
			<button class="filter_button" onclick="displayDropdown(1)">
				<div class="filter_text">Сортировка</div>
				<i id="filter_icon1" class="fa-angle-double-down"></i>
			</button>
			<div id="dropDown1" class="hideDrop">
				<button class="filter_block" onclick="changeSort(4)">Цена (по возрастанию)</button>
				<button class="filter_block" onclick="changeSort(3)">Цена (по убыванию)</button>
				<button class="filter_block" onclick="changeSort(2)">Есть в наличии</button>
				<button class="filter_block" onclick="changeSort(1)">Акция</button>
				<button class="filter_block" onclick="changeSort(0)">По новизне</button>
			</div>
		</div>
		<div class="filter" id="metal_filter">
			<button class="filter_button" onclick="displayDropdown(2)">
				<div class="filter_text">Металл</div>
				<i id="filter_icon2" class="fa-angle-double-down"></i>
			</button>
			<div id="dropDown2" class="hideDrop">
				<div class="filter_block">
				<div class="checkbox_block">
					<input type="checkbox" class="filter_checkbox" id="gold" name="gold">
					<div for="gold" class="filter_block_text">Белое золото</div>
				</div>
				</div>
				<div class="filter_block">
				<div class="checkbox_block">
					<input type="checkbox" class="filter_checkbox" id="gold" name="gold">
					<div for="gold" class="filter_block_text">Желтое золото</div>
				</div>
				</div>
				<div class="filter_block">
				<div class="checkbox_block">
					<input type="checkbox" class="filter_checkbox" id="gold" name="gold">
					<div for="gold" class="filter_block_text">Платина</div>
				</div>
				</div>
				<div class="filter_block">
				<div class="checkbox_block">
					<input type="checkbox" class="filter_checkbox" id="gold" name="gold">
					<div for="gold" class="filter_block_text">Серебро</div>
				</div>
				</div>
			</div>
		</div>
		<div class="filter" id="price_filter">Цена:
			<input class="price_form" id="price_min"> -
			<input class="price_form" id="price_max">
		</div>
		<div id="price_slider"></div>
	</div>
	<div class="product_block"></div>
	<script type="text/javascript">getAll()</script>
	<script type="text/javascript">$("#price_slider").slider({range:true,min:500,max:50000,values: [500, 50000],slide:function(event,ui){$("#price_min").val(ui.values[0]);$("#price_max").val(ui.values[1])}});$("#price_min").val(500);$("#price_max").val(50000)</script>
</body>
</html>