<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="http://hehmde.xyz:63000/stylesheets/home.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="/client_scripts/oneProduct.js"></script>
	include header.html
</head>
<body>
	<div class="new_list"></div> 
	<script type="text/javascript">getOne("rings",111)</script>
</body>
</html>