if !isLogged
	<a href="/login" class="head_item" id="profile">
		<p style="margin:0px;float:right;">Войти</p>
	</a>
else
	<a href="/profile" class="head_item" id="profile">
		<p style="margin:0px;float:right;max-width:10vh;overflow:hidden">#{user.uname}</p>
	</a>